@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background-image: url("Images/blue.jpg"); */
  background: linear-gradient(145deg, #b2d2d31f, rgba(123, 152, 203, 0.205));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s all;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  width: auto;
}
.headingText {
  font-size: 19px;
  margin-top: 10px;
  color: rgb(113, 150, 212);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
}
.formContainer {
  width: 500px;
  margin: 10px auto;
  padding: 40px 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  opacity: 0;
  transform: translateY(-30%);
  transition: 1s all;
  /* overflow: hidden; */
}

.formContainer.show {
  opacity: 1;
  background: linear-gradient(145deg, #b2d2d338, rgba(123, 152, 203, 0.171));
  transform: translateY(0);
}
.homeContainer {
  opacity: 0;
  transform: translateY(50%);
  transition: 0.7s all;
}

.homeContainer.see {
  opacity: 1;
  transform: translateY(0);
}

.formContainer input[type="text"],
.formContainer input[type="email"],
.formContainer input[type="number"],
.formContainer select,
.formContainer input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  /* border: none;
  border-bottom: 1px solid #ccc; */
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formContainer input[type="text"]:hover,
.formContainer input[type="email"]:hover,
.formContainer input[type="number"]:hover,
.formContainer select:hover,
.formContainer input[type="date"]:hover {
  background-color: #cccccc48;
}

.formContainer #maleRadio,
#femaleRadio {
  margin-right: 10px;
  margin-left: 10px;
}
#genderStore {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  letter-spacing: 1.2px;
  font-size: 17px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
#genderStore:hover {
  background-color: #cccccc48;
}

.formContainer .submitBtn {
  border-radius: 6px;
  height: 35px;
  margin-top: 10px;
  padding: 0 10px;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  border-bottom: 1px solid rgba(69, 187, 79, 0.575);
  border-left: 1px solid rgba(69, 187, 79, 0.575);
  color: rgb(113, 150, 212);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 35px;
  font-weight: 500;
  font-size: 16px;
}

.formContainer .resettBtn {
  border-radius: 6px;
  height: 35px;
  margin-top: 10px;
  padding: 0 10px;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  border-bottom: 1px solid rgba(255, 0, 0, 0.61);
  border-left: 1px solid rgba(255, 0, 0, 0.61);
  color: rgb(113, 150, 212);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 35px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
}

.formContainer .resettBtn:hover {
  border-bottom: 35px solid rgba(255, 0, 0, 0.61);
  color: white;
}

.formContainer .submitBtn:hover {
  border-bottom: 35px solid rgba(69, 187, 79, 0.575);
  color: white;
}
span {
  font-size: 15px;
}
.navContainer {
  background: linear-gradient(145deg, #b2d2d338, rgba(123, 152, 203, 0.05));
  position: relative;
  /* border: 1px solid #277ccc9d; */
  width: 100%;
  height: 60px;

  display: flex;
  list-style: none;
  gap: 45px;
  padding-left: 130px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 510;
  color: white;
}
li {
  /* border: 1px solid white; */
  border-radius: 6px;
  height: 38px;
  margin-top: 10px;
  /* padding: 0 8px; */
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  border-bottom: 2px solid rgba(123, 152, 203, 0.521);
  border-left: 1px solid rgba(123, 152, 203, 0.548);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  /* border: 1px solid red; */
}
.link1,
.link2 {
  text-decoration: none;
  height: 38px;
  color: rgb(123, 152, 203);
  padding: 9px 8px;
  border: none;
  border-radius: 6px;
  /* border: 1px solid red; */
}
.link1:hover {
  color: white;
}
.link2:hover {
  color: white;
}
.active {
  background-color: rgba(123, 152, 203, 0.521);
  color: white;
}

li:hover {
  /* background-color: #277ccc9d; */
  /* background: linear-gradient(145deg, rgba(123, 152, 203, 0.781), #b2d2d338); */
  border-bottom: 38px solid rgba(123, 152, 203, 0.521);
  /* background: rgba(123, 152, 203, 0.788); */
  color: white;
}
.refreshIcon {
  color: black;
  position: absolute;
  right: 75px;
  margin-top: 8px;
  padding: 4px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(113, 150, 212);
  cursor: pointer;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  display: none;
}
.refreshIcon:hover {
  background-color: rgba(204, 193, 193, 0.329);
}
.message {
  color: green;
  position: relative;
  top: 19px;
  letter-spacing: 1.1px;
  /* border: 1px solid red; */
  height: auto;
  padding-bottom: 10px;
}
table {
  margin: 20px auto; /* Adjust margin for smaller screens */
  border-collapse: collapse;
  border: 1px solid rgba(123, 152, 203, 0.39);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%;
}
table th,
table td {
  padding: 10px 25px;
}
table th {
  font-weight: 500;
  color: rgba(34, 45, 65, 0.808);
}

table td {
  color: rgb(123, 152, 203);
  font-weight: 500;
}

table tr:hover {
  background-color: rgba(128, 128, 128, 0.082);
}

.swal2-popup .swal2-confirm {
  background-color: rgb(123, 152, 203) !important;
  color: white !important;
}
.delBtn {
  color: rgb(123, 152, 203);
  border: none;
  height: 32px;
  width: 32px;
  font-size: 25px;
  border-radius: 6px;
  margin-right: 15px;
  transition: 0.3s all;
  cursor: pointer;
  border-bottom: 2px solid rgba(123, 152, 203, 0.521);
  border-left: 2px solid rgba(123, 152, 203, 0.521);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 35px;
}
.delBtn:hover {
  border-bottom: 32px solid rgba(123, 152, 203, 0.521);
  /* border-bottom: 32px solid red; */
  color: white;
}

#delIcon:hover {
  transform: rotate(90deg);
}
.eiditBtn {
  color: rgb(123, 152, 203);
  border: none;
  height: 32px;
  width: 32px;
  font-size: 25px;
  border-radius: 6px;
  margin-right: 15px;
  transition: 0.3s all;
  cursor: pointer;
  border-bottom: 2px solid rgba(123, 152, 203, 0.521);
  border-left: 2px solid rgba(123, 152, 203, 0.521);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  line-height: 35px;
}
.eiditBtn:hover {
  /* border-bottom: 32px solid green; */
  border-bottom: 32px solid rgba(123, 152, 203, 0.521);
  color: white;
}

#editIcon {
  transition: 0.3s all;
  height: 30px;
  width: 30px;
}
#editIcon:hover {
  transform: scale(0.8);
}

@media screen and (max-width: 905px) {
  table {
    margin: 30px auto;
    overflow-x: auto;
  }

  table th,
  table td {
    padding: 8px 15px;
    font-size: 12px;
  }

  table th {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }

  .navContainer {
    padding-left: 35px;

    align-items: center;
  }
  table {
    margin: 20px auto;
    overflow-x: auto;
  }

  table th,
  table td {
    padding: 8px 15px;
    font-size: 12px;
  }

  table th {
    white-space: nowrap;
  }
}

@media screen and (max-width: 576px) {
  .formContainer {
    padding: 20px 15px;
  }

  table {
    margin: 10px auto;
  }

  table th,
  table td {
    padding: 6px 10px;
    font-size: 10px;
  }
  .navContainer {
    padding: 10px;
  }
}
@media screen and (max-width: 472px) {
  table {
    margin: 20px;
  }

  table th,
  table td {
    padding: 6px 7px;
    font-size: 11px;
  }
}
@media screen and (max-width: 452px) {
  table {
    margin: 20px auto;
  }

  table th,
  table td {
    padding: 5px 5px;
    font-size: 11px;
  }
}
@media screen and (max-width: 416px) {
  table {
    margin-right: 25px;
  }

  table th,
  table td {
    padding: 4.5px 5px;
    font-size: 10px; 
  }
}
@media screen and (max-width: 280px) {
  table {
    margin: 20px auto;
  }

  table th,
  table td {
    padding: 3.5px 3.5px;
    font-size: 8px;
  }
  .formContainer {
    padding: 20px 15px;
    font-size: 12px;
  }
}
